ErasEasyLife/Connected Services/Student/Student.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Student" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Admin_wcf/Student/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Admin_wcf/Student/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Admin_wcf/Student/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Admin_wcf.Classi" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStudent_Registration_InputMessage">
    <wsdl:part name="parameters" element="tns:Registration" />
  </wsdl:message>
  <wsdl:message name="IStudent_Registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IStudent_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IStudent_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IStudent_Profile_InputMessage">
    <wsdl:part name="parameters" element="tns:Profile" />
  </wsdl:message>
  <wsdl:message name="IStudent_Profile_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IStudent_UpdateProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfile" />
  </wsdl:message>
  <wsdl:message name="IStudent_UpdateProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IStudent_UpdatePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePassword" />
  </wsdl:message>
  <wsdl:message name="IStudent_UpdatePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IStudent_Show_students_InputMessage">
    <wsdl:part name="parameters" element="tns:Show_students" />
  </wsdl:message>
  <wsdl:message name="IStudent_Show_students_OutputMessage">
    <wsdl:part name="parameters" element="tns:Show_studentsResponse" />
  </wsdl:message>
  <wsdl:message name="IStudent_BookEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:BookEvent" />
  </wsdl:message>
  <wsdl:message name="IStudent_BookEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookEventResponse" />
  </wsdl:message>
  <wsdl:portType name="IStudent">
    <wsdl:operation name="Registration">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/Registration" message="tns:IStudent_Registration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/RegistrationResponse" message="tns:IStudent_Registration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/Login" message="tns:IStudent_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/LoginResponse" message="tns:IStudent_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Profile">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/Profile" message="tns:IStudent_Profile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/ProfileResponse" message="tns:IStudent_Profile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/UpdateProfile" message="tns:IStudent_UpdateProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/UpdateProfileResponse" message="tns:IStudent_UpdateProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/UpdatePassword" message="tns:IStudent_UpdatePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/UpdatePasswordResponse" message="tns:IStudent_UpdatePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Show_students">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/Show_students" message="tns:IStudent_Show_students_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/Show_studentsResponse" message="tns:IStudent_Show_students_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/BookEvent" message="tns:IStudent_BookEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/BookEventResponse" message="tns:IStudent_BookEvent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStudent" type="tns:IStudent">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Registration">
      <soap:operation soapAction="http://tempuri.org/IStudent/Registration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IStudent/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Profile">
      <soap:operation soapAction="http://tempuri.org/IStudent/Profile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <soap:operation soapAction="http://tempuri.org/IStudent/UpdateProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <soap:operation soapAction="http://tempuri.org/IStudent/UpdatePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Show_students">
      <soap:operation soapAction="http://tempuri.org/IStudent/Show_students" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookEvent">
      <soap:operation soapAction="http://tempuri.org/IStudent/BookEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Student">
    <wsdl:port name="BasicHttpBinding_IStudent" binding="tns:BasicHttpBinding_IStudent">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Admin_wcf/Student/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>