ErasEasyLife/Connected Services/Student/Student.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Student" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Admin_wcf/Student/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Admin_wcf/Student/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Admin_wcf/Student/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Admin_wcf.Classi" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStudent_Registration_InputMessage">
    <wsdl:part name="parameters" element="tns:Registration" />
  </wsdl:message>
  <wsdl:message name="IStudent_Registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IStudent_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IStudent_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IStudent_Profile_InputMessage">
    <wsdl:part name="parameters" element="tns:Profile" />
  </wsdl:message>
  <wsdl:message name="IStudent_Profile_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IStudent_UpdateProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfile" />
  </wsdl:message>
  <wsdl:message name="IStudent_UpdateProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IStudent_UpdatePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePassword" />
  </wsdl:message>
  <wsdl:message name="IStudent_UpdatePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IStudent_Show_students_InputMessage">
    <wsdl:part name="parameters" element="tns:Show_students" />
  </wsdl:message>
  <wsdl:message name="IStudent_Show_students_OutputMessage">
    <wsdl:part name="parameters" element="tns:Show_studentsResponse" />
  </wsdl:message>
  <wsdl:message name="IStudent_BookEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:BookEvent" />
  </wsdl:message>
  <wsdl:message name="IStudent_BookEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookEventResponse" />
  </wsdl:message>
  <wsdl:message name="IStudent_Show_Event_InputMessage">
    <wsdl:part name="parameters" element="tns:Show_Event" />
  </wsdl:message>
  <wsdl:message name="IStudent_Show_Event_OutputMessage">
    <wsdl:part name="parameters" element="tns:Show_EventResponse" />
  </wsdl:message>
  <wsdl:message name="IStudent_CancelBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelBooking" />
  </wsdl:message>
  <wsdl:message name="IStudent_CancelBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IStudent_Friendship_Request_InputMessage">
    <wsdl:part name="parameters" element="tns:Friendship_Request" />
  </wsdl:message>
  <wsdl:message name="IStudent_Friendship_Request_OutputMessage">
    <wsdl:part name="parameters" element="tns:Friendship_RequestResponse" />
  </wsdl:message>
  <wsdl:message name="IStudent_Friendship_State_InputMessage">
    <wsdl:part name="parameters" element="tns:Friendship_State" />
  </wsdl:message>
  <wsdl:message name="IStudent_Friendship_State_OutputMessage">
    <wsdl:part name="parameters" element="tns:Friendship_StateResponse" />
  </wsdl:message>
  <wsdl:message name="IStudent_Show_Friends_InputMessage">
    <wsdl:part name="parameters" element="tns:Show_Friends" />
  </wsdl:message>
  <wsdl:message name="IStudent_Show_Friends_OutputMessage">
    <wsdl:part name="parameters" element="tns:Show_FriendsResponse" />
  </wsdl:message>
  <wsdl:message name="IStudent_My_Friendship_Request_InputMessage">
    <wsdl:part name="parameters" element="tns:My_Friendship_Request" />
  </wsdl:message>
  <wsdl:message name="IStudent_My_Friendship_Request_OutputMessage">
    <wsdl:part name="parameters" element="tns:My_Friendship_RequestResponse" />
  </wsdl:message>
  <wsdl:message name="IStudent_Delete_Friendship_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_Friendship" />
  </wsdl:message>
  <wsdl:message name="IStudent_Delete_Friendship_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_FriendshipResponse" />
  </wsdl:message>
  <wsdl:message name="IStudent_University_Registration_InputMessage">
    <wsdl:part name="parameters" element="tns:University_Registration" />
  </wsdl:message>
  <wsdl:message name="IStudent_University_Registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:University_RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IStudent_GetUniversity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUniversity" />
  </wsdl:message>
  <wsdl:message name="IStudent_GetUniversity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUniversityResponse" />
  </wsdl:message>
  <wsdl:message name="IStudent_Generate_id_InputMessage">
    <wsdl:part name="parameters" element="tns:Generate_id" />
  </wsdl:message>
  <wsdl:message name="IStudent_Generate_id_OutputMessage">
    <wsdl:part name="parameters" element="tns:Generate_idResponse" />
  </wsdl:message>
  <wsdl:portType name="IStudent">
    <wsdl:operation name="Registration">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/Registration" message="tns:IStudent_Registration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/RegistrationResponse" message="tns:IStudent_Registration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/Login" message="tns:IStudent_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/LoginResponse" message="tns:IStudent_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Profile">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/Profile" message="tns:IStudent_Profile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/ProfileResponse" message="tns:IStudent_Profile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/UpdateProfile" message="tns:IStudent_UpdateProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/UpdateProfileResponse" message="tns:IStudent_UpdateProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/UpdatePassword" message="tns:IStudent_UpdatePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/UpdatePasswordResponse" message="tns:IStudent_UpdatePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Show_students">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/Show_students" message="tns:IStudent_Show_students_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/Show_studentsResponse" message="tns:IStudent_Show_students_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/BookEvent" message="tns:IStudent_BookEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/BookEventResponse" message="tns:IStudent_BookEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Show_Event">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/Show_Event" message="tns:IStudent_Show_Event_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/Show_EventResponse" message="tns:IStudent_Show_Event_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/CancelBooking" message="tns:IStudent_CancelBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/CancelBookingResponse" message="tns:IStudent_CancelBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Friendship_Request">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/Friendship_Request" message="tns:IStudent_Friendship_Request_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/Friendship_RequestResponse" message="tns:IStudent_Friendship_Request_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Friendship_State">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/Friendship_State" message="tns:IStudent_Friendship_State_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/Friendship_StateResponse" message="tns:IStudent_Friendship_State_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Show_Friends">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/Show_Friends" message="tns:IStudent_Show_Friends_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/Show_FriendsResponse" message="tns:IStudent_Show_Friends_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="My_Friendship_Request">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/My_Friendship_Request" message="tns:IStudent_My_Friendship_Request_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/My_Friendship_RequestResponse" message="tns:IStudent_My_Friendship_Request_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_Friendship">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/Delete_Friendship" message="tns:IStudent_Delete_Friendship_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/Delete_FriendshipResponse" message="tns:IStudent_Delete_Friendship_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="University_Registration">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/University_Registration" message="tns:IStudent_University_Registration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/University_RegistrationResponse" message="tns:IStudent_University_Registration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUniversity">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/GetUniversity" message="tns:IStudent_GetUniversity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/GetUniversityResponse" message="tns:IStudent_GetUniversity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Generate_id">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudent/Generate_id" message="tns:IStudent_Generate_id_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudent/Generate_idResponse" message="tns:IStudent_Generate_id_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStudent" type="tns:IStudent">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Registration">
      <soap:operation soapAction="http://tempuri.org/IStudent/Registration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IStudent/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Profile">
      <soap:operation soapAction="http://tempuri.org/IStudent/Profile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <soap:operation soapAction="http://tempuri.org/IStudent/UpdateProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <soap:operation soapAction="http://tempuri.org/IStudent/UpdatePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Show_students">
      <soap:operation soapAction="http://tempuri.org/IStudent/Show_students" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookEvent">
      <soap:operation soapAction="http://tempuri.org/IStudent/BookEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Show_Event">
      <soap:operation soapAction="http://tempuri.org/IStudent/Show_Event" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelBooking">
      <soap:operation soapAction="http://tempuri.org/IStudent/CancelBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Friendship_Request">
      <soap:operation soapAction="http://tempuri.org/IStudent/Friendship_Request" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Friendship_State">
      <soap:operation soapAction="http://tempuri.org/IStudent/Friendship_State" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Show_Friends">
      <soap:operation soapAction="http://tempuri.org/IStudent/Show_Friends" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="My_Friendship_Request">
      <soap:operation soapAction="http://tempuri.org/IStudent/My_Friendship_Request" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_Friendship">
      <soap:operation soapAction="http://tempuri.org/IStudent/Delete_Friendship" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="University_Registration">
      <soap:operation soapAction="http://tempuri.org/IStudent/University_Registration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUniversity">
      <soap:operation soapAction="http://tempuri.org/IStudent/GetUniversity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Generate_id">
      <soap:operation soapAction="http://tempuri.org/IStudent/Generate_id" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Student">
    <wsdl:port name="BasicHttpBinding_IStudent" binding="tns:BasicHttpBinding_IStudent">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Admin_wcf/Student/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>