ErasEasyLife/Connected Services/Volunteer/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Admin_wcf/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Admin_wcf" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Admin_wcf/Service1/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Admin_wcf.Classi" />
  <xs:element name="Registration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Admin_wcf" minOccurs="0" name="v" nillable="true" type="q1:Volontario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Admin_wcf" minOccurs="0" name="LoginResult" nillable="true" type="q2:Volontario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Profile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Admin_wcf" minOccurs="0" name="ProfileResult" nillable="true" type="q3:Volontario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Admin_wcf" minOccurs="0" name="v" nillable="true" type="q4:Volontario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateProfileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="new_password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssociazione">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssociazioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Admin_wcf" minOccurs="0" name="GetAssociazioneResult" nillable="true" type="q5:Associazione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Show_volontari">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cond" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Show_volontariResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Admin_wcf" minOccurs="0" name="Show_volontariResult" nillable="true" type="q6:ArrayOfVolontario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="volontario" type="xs:int" />
        <xs:element minOccurs="0" name="evento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BookEventResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Show_Event">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idvol" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Show_EventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Admin_wcf.Classi" minOccurs="0" name="Show_EventResult" nillable="true" type="q7:ArrayOfEvento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>