ErasEasyLife/Connected Services/Volunteer/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Admin_wcf.Classi" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Admin_wcf.Classi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Admin_wcf/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Admin_wcf" />
  <xs:complexType name="ArrayOfEvento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Evento" nillable="true" type="tns:Evento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEvento" nillable="true" type="tns:ArrayOfEvento" />
  <xs:complexType name="Evento">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdEv" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Admin_wcf" minOccurs="0" name="ass" nillable="true" type="q1:Associazione" />
      <xs:element minOccurs="0" name="costo" type="xs:int" />
      <xs:element minOccurs="0" name="descrizione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="max_p" type="xs:int" />
      <xs:element minOccurs="0" name="max_v" type="xs:int" />
      <xs:element minOccurs="0" name="min_p" type="xs:int" />
      <xs:element minOccurs="0" name="min_v" type="xs:int" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipologia" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Evento" nillable="true" type="tns:Evento" />
</xs:schema>