ErasEasyLife/Connected Services/Volunteer/Volunteer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Volunteer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Admin_wcf/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Admin_wcf/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Admin_wcf/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Admin_wcf" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Admin_wcf/Service1/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Admin_wcf.Classi" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVolunteer_Registration_InputMessage">
    <wsdl:part name="parameters" element="tns:Registration" />
  </wsdl:message>
  <wsdl:message name="IVolunteer_Registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IVolunteer_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IVolunteer_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IVolunteer_Profile_InputMessage">
    <wsdl:part name="parameters" element="tns:Profile" />
  </wsdl:message>
  <wsdl:message name="IVolunteer_Profile_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IVolunteer_UpdateProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfile" />
  </wsdl:message>
  <wsdl:message name="IVolunteer_UpdateProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IVolunteer_UpdatePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePassword" />
  </wsdl:message>
  <wsdl:message name="IVolunteer_UpdatePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IVolunteer_GetAssociazione_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAssociazione" />
  </wsdl:message>
  <wsdl:message name="IVolunteer_GetAssociazione_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAssociazioneResponse" />
  </wsdl:message>
  <wsdl:message name="IVolunteer_Show_volontari_InputMessage">
    <wsdl:part name="parameters" element="tns:Show_volontari" />
  </wsdl:message>
  <wsdl:message name="IVolunteer_Show_volontari_OutputMessage">
    <wsdl:part name="parameters" element="tns:Show_volontariResponse" />
  </wsdl:message>
  <wsdl:message name="IVolunteer_BookEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:BookEvent" />
  </wsdl:message>
  <wsdl:message name="IVolunteer_BookEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookEventResponse" />
  </wsdl:message>
  <wsdl:message name="IVolunteer_Show_Event_InputMessage">
    <wsdl:part name="parameters" element="tns:Show_Event" />
  </wsdl:message>
  <wsdl:message name="IVolunteer_Show_Event_OutputMessage">
    <wsdl:part name="parameters" element="tns:Show_EventResponse" />
  </wsdl:message>
  <wsdl:portType name="IVolunteer">
    <wsdl:operation name="Registration">
      <wsdl:input wsaw:Action="http://tempuri.org/IVolunteer/Registration" message="tns:IVolunteer_Registration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVolunteer/RegistrationResponse" message="tns:IVolunteer_Registration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IVolunteer/Login" message="tns:IVolunteer_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVolunteer/LoginResponse" message="tns:IVolunteer_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Profile">
      <wsdl:input wsaw:Action="http://tempuri.org/IVolunteer/Profile" message="tns:IVolunteer_Profile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVolunteer/ProfileResponse" message="tns:IVolunteer_Profile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IVolunteer/UpdateProfile" message="tns:IVolunteer_UpdateProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVolunteer/UpdateProfileResponse" message="tns:IVolunteer_UpdateProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IVolunteer/UpdatePassword" message="tns:IVolunteer_UpdatePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVolunteer/UpdatePasswordResponse" message="tns:IVolunteer_UpdatePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAssociazione">
      <wsdl:input wsaw:Action="http://tempuri.org/IVolunteer/GetAssociazione" message="tns:IVolunteer_GetAssociazione_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVolunteer/GetAssociazioneResponse" message="tns:IVolunteer_GetAssociazione_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Show_volontari">
      <wsdl:input wsaw:Action="http://tempuri.org/IVolunteer/Show_volontari" message="tns:IVolunteer_Show_volontari_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVolunteer/Show_volontariResponse" message="tns:IVolunteer_Show_volontari_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IVolunteer/BookEvent" message="tns:IVolunteer_BookEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVolunteer/BookEventResponse" message="tns:IVolunteer_BookEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Show_Event">
      <wsdl:input wsaw:Action="http://tempuri.org/IVolunteer/Show_Event" message="tns:IVolunteer_Show_Event_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVolunteer/Show_EventResponse" message="tns:IVolunteer_Show_Event_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVolunteer" type="tns:IVolunteer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Registration">
      <soap:operation soapAction="http://tempuri.org/IVolunteer/Registration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IVolunteer/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Profile">
      <soap:operation soapAction="http://tempuri.org/IVolunteer/Profile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <soap:operation soapAction="http://tempuri.org/IVolunteer/UpdateProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <soap:operation soapAction="http://tempuri.org/IVolunteer/UpdatePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssociazione">
      <soap:operation soapAction="http://tempuri.org/IVolunteer/GetAssociazione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Show_volontari">
      <soap:operation soapAction="http://tempuri.org/IVolunteer/Show_volontari" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookEvent">
      <soap:operation soapAction="http://tempuri.org/IVolunteer/BookEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Show_Event">
      <soap:operation soapAction="http://tempuri.org/IVolunteer/Show_Event" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Volunteer">
    <wsdl:port name="BasicHttpBinding_IVolunteer" binding="tns:BasicHttpBinding_IVolunteer">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Admin_wcf/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>