ErasEasyLife/Connected Services/Association/Association.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Association" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Admin_wcf/Server_Admin/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Admin_wcf/Server_Admin/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Admin_wcf/Server_Admin/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Admin_wcf.Classi" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Admin_wcf/Server_Admin/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAssociation_Registration_InputMessage">
    <wsdl:part name="parameters" element="tns:Registration" />
  </wsdl:message>
  <wsdl:message name="IAssociation_Registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IAssociation_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IAssociation_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAssociation_Profile_InputMessage">
    <wsdl:part name="parameters" element="tns:Profile" />
  </wsdl:message>
  <wsdl:message name="IAssociation_Profile_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IAssociation_UpdateProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfile" />
  </wsdl:message>
  <wsdl:message name="IAssociation_UpdateProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IAssociation_UpdatePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePassword" />
  </wsdl:message>
  <wsdl:message name="IAssociation_UpdatePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IAssociation_Create_events_InputMessage">
    <wsdl:part name="parameters" element="tns:Create_events" />
  </wsdl:message>
  <wsdl:message name="IAssociation_Create_events_OutputMessage">
    <wsdl:part name="parameters" element="tns:Create_eventsResponse" />
  </wsdl:message>
  <wsdl:message name="IAssociation_GetCitta_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCitta" />
  </wsdl:message>
  <wsdl:message name="IAssociation_GetCitta_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCittaResponse" />
  </wsdl:message>
  <wsdl:message name="IAssociation_Show_associations_InputMessage">
    <wsdl:part name="parameters" element="tns:Show_associations" />
  </wsdl:message>
  <wsdl:message name="IAssociation_Show_associations_OutputMessage">
    <wsdl:part name="parameters" element="tns:Show_associationsResponse" />
  </wsdl:message>
  <wsdl:message name="IAssociation_Show_Event_InputMessage">
    <wsdl:part name="parameters" element="tns:Show_Event" />
  </wsdl:message>
  <wsdl:message name="IAssociation_Show_Event_OutputMessage">
    <wsdl:part name="parameters" element="tns:Show_EventResponse" />
  </wsdl:message>
  <wsdl:message name="IAssociation_add_ruolo_InputMessage">
    <wsdl:part name="parameters" element="tns:add_ruolo" />
  </wsdl:message>
  <wsdl:message name="IAssociation_add_ruolo_OutputMessage">
    <wsdl:part name="parameters" element="tns:add_ruoloResponse" />
  </wsdl:message>
  <wsdl:portType name="IAssociation">
    <wsdl:operation name="Registration">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociation/Registration" message="tns:IAssociation_Registration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociation/RegistrationResponse" message="tns:IAssociation_Registration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociation/Login" message="tns:IAssociation_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociation/LoginResponse" message="tns:IAssociation_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Profile">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociation/Profile" message="tns:IAssociation_Profile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociation/ProfileResponse" message="tns:IAssociation_Profile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociation/UpdateProfile" message="tns:IAssociation_UpdateProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociation/UpdateProfileResponse" message="tns:IAssociation_UpdateProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociation/UpdatePassword" message="tns:IAssociation_UpdatePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociation/UpdatePasswordResponse" message="tns:IAssociation_UpdatePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create_events">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociation/Create_events" message="tns:IAssociation_Create_events_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociation/Create_eventsResponse" message="tns:IAssociation_Create_events_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCitta">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociation/GetCitta" message="tns:IAssociation_GetCitta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociation/GetCittaResponse" message="tns:IAssociation_GetCitta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Show_associations">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociation/Show_associations" message="tns:IAssociation_Show_associations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociation/Show_associationsResponse" message="tns:IAssociation_Show_associations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Show_Event">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociation/Show_Event" message="tns:IAssociation_Show_Event_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociation/Show_EventResponse" message="tns:IAssociation_Show_Event_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add_ruolo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssociation/add_ruolo" message="tns:IAssociation_add_ruolo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssociation/add_ruoloResponse" message="tns:IAssociation_add_ruolo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAssociation" type="tns:IAssociation">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Registration">
      <soap:operation soapAction="http://tempuri.org/IAssociation/Registration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IAssociation/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Profile">
      <soap:operation soapAction="http://tempuri.org/IAssociation/Profile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <soap:operation soapAction="http://tempuri.org/IAssociation/UpdateProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <soap:operation soapAction="http://tempuri.org/IAssociation/UpdatePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create_events">
      <soap:operation soapAction="http://tempuri.org/IAssociation/Create_events" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCitta">
      <soap:operation soapAction="http://tempuri.org/IAssociation/GetCitta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Show_associations">
      <soap:operation soapAction="http://tempuri.org/IAssociation/Show_associations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Show_Event">
      <soap:operation soapAction="http://tempuri.org/IAssociation/Show_Event" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add_ruolo">
      <soap:operation soapAction="http://tempuri.org/IAssociation/add_ruolo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Association">
    <wsdl:port name="BasicHttpBinding_IAssociation" binding="tns:BasicHttpBinding_IAssociation">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Admin_wcf/Server_Admin/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>