ErasEasyLife/Connected Services/Association/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Admin_wcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Admin_wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Associazione">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdAss" type="xs:int" />
      <xs:element minOccurs="0" name="citta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="via" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Associazione" nillable="true" type="tns:Associazione" />
  <xs:complexType name="ArrayOfAssociazione">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Associazione" nillable="true" type="tns:Associazione" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssociazione" nillable="true" type="tns:ArrayOfAssociazione" />
</xs:schema>