Admin_wcf/Connected Services/DBManager/DBManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DBManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/DB_Manager/DBManager/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/DB_Manager/DBManager/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/DB_Manager/DBManager/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDBManager_DBinsert_InputMessage">
    <wsdl:part name="parameters" element="tns:DBinsert" />
  </wsdl:message>
  <wsdl:message name="IDBManager_DBinsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:DBinsertResponse" />
  </wsdl:message>
  <wsdl:message name="IDBManager_DBdelete_InputMessage">
    <wsdl:part name="parameters" element="tns:DBdelete" />
  </wsdl:message>
  <wsdl:message name="IDBManager_DBdelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DBdeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IDBManager_DBselect_InputMessage">
    <wsdl:part name="parameters" element="tns:DBselect" />
  </wsdl:message>
  <wsdl:message name="IDBManager_DBselect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DBselectResponse" />
  </wsdl:message>
  <wsdl:message name="IDBManager_DBupdate_InputMessage">
    <wsdl:part name="parameters" element="tns:DBupdate" />
  </wsdl:message>
  <wsdl:message name="IDBManager_DBupdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:DBupdateResponse" />
  </wsdl:message>
  <wsdl:message name="IDBManager_DBtransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:DBtransaction" />
  </wsdl:message>
  <wsdl:message name="IDBManager_DBtransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:DBtransactionResponse" />
  </wsdl:message>
  <wsdl:portType name="IDBManager">
    <wsdl:operation name="DBinsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBManager/DBinsert" message="tns:IDBManager_DBinsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBManager/DBinsertResponse" message="tns:IDBManager_DBinsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DBdelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBManager/DBdelete" message="tns:IDBManager_DBdelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBManager/DBdeleteResponse" message="tns:IDBManager_DBdelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DBselect">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBManager/DBselect" message="tns:IDBManager_DBselect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBManager/DBselectResponse" message="tns:IDBManager_DBselect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DBupdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBManager/DBupdate" message="tns:IDBManager_DBupdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBManager/DBupdateResponse" message="tns:IDBManager_DBupdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DBtransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IDBManager/DBtransaction" message="tns:IDBManager_DBtransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDBManager/DBtransactionResponse" message="tns:IDBManager_DBtransaction_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDBManager" type="tns:IDBManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DBinsert">
      <soap:operation soapAction="http://tempuri.org/IDBManager/DBinsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DBdelete">
      <soap:operation soapAction="http://tempuri.org/IDBManager/DBdelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DBselect">
      <soap:operation soapAction="http://tempuri.org/IDBManager/DBselect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DBupdate">
      <soap:operation soapAction="http://tempuri.org/IDBManager/DBupdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DBtransaction">
      <soap:operation soapAction="http://tempuri.org/IDBManager/DBtransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DBManager">
    <wsdl:port name="BasicHttpBinding_IDBManager" binding="tns:BasicHttpBinding_IDBManager">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/DB_Manager/DBManager/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>