ErasEasyLife/Connected Services/Event/Event.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Event" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Admin_wcf/Event/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Admin_wcf/Event/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Admin_wcf/Event/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Admin_wcf.Classi" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEvent_Show_events_InputMessage">
    <wsdl:part name="parameters" element="tns:Show_events" />
  </wsdl:message>
  <wsdl:message name="IEvent_Show_events_OutputMessage">
    <wsdl:part name="parameters" element="tns:Show_eventsResponse" />
  </wsdl:message>
  <wsdl:message name="IEvent_Get_event_by_id_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_event_by_id" />
  </wsdl:message>
  <wsdl:message name="IEvent_Get_event_by_id_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_event_by_idResponse" />
  </wsdl:message>
  <wsdl:message name="IEvent_Event_partecipations_InputMessage">
    <wsdl:part name="parameters" element="tns:Event_partecipations" />
  </wsdl:message>
  <wsdl:message name="IEvent_Event_partecipations_OutputMessage">
    <wsdl:part name="parameters" element="tns:Event_partecipationsResponse" />
  </wsdl:message>
  <wsdl:message name="IEvent_Event_volunteers_InputMessage">
    <wsdl:part name="parameters" element="tns:Event_volunteers" />
  </wsdl:message>
  <wsdl:message name="IEvent_Event_volunteers_OutputMessage">
    <wsdl:part name="parameters" element="tns:Event_volunteersResponse" />
  </wsdl:message>
  <wsdl:message name="IEvent_Edit_Event_InputMessage">
    <wsdl:part name="parameters" element="tns:Edit_Event" />
  </wsdl:message>
  <wsdl:message name="IEvent_Edit_Event_OutputMessage">
    <wsdl:part name="parameters" element="tns:Edit_EventResponse" />
  </wsdl:message>
  <wsdl:message name="IEvent_Delete_Event_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_Event" />
  </wsdl:message>
  <wsdl:message name="IEvent_Delete_Event_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_EventResponse" />
  </wsdl:message>
  <wsdl:message name="IEvent_Send_Email_InputMessage">
    <wsdl:part name="parameters" element="tns:Send_Email" />
  </wsdl:message>
  <wsdl:message name="IEvent_Send_Email_OutputMessage">
    <wsdl:part name="parameters" element="tns:Send_EmailResponse" />
  </wsdl:message>
  <wsdl:message name="IEvent_Generate_id_Luogo_InputMessage">
    <wsdl:part name="parameters" element="tns:Generate_id_Luogo" />
  </wsdl:message>
  <wsdl:message name="IEvent_Generate_id_Luogo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Generate_id_LuogoResponse" />
  </wsdl:message>
  <wsdl:message name="IEvent_Generate_id_InputMessage">
    <wsdl:part name="parameters" element="tns:Generate_id" />
  </wsdl:message>
  <wsdl:message name="IEvent_Generate_id_OutputMessage">
    <wsdl:part name="parameters" element="tns:Generate_idResponse" />
  </wsdl:message>
  <wsdl:portType name="IEvent">
    <wsdl:operation name="Show_events">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvent/Show_events" message="tns:IEvent_Show_events_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvent/Show_eventsResponse" message="tns:IEvent_Show_events_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_event_by_id">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvent/Get_event_by_id" message="tns:IEvent_Get_event_by_id_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvent/Get_event_by_idResponse" message="tns:IEvent_Get_event_by_id_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Event_partecipations">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvent/Event_partecipations" message="tns:IEvent_Event_partecipations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvent/Event_partecipationsResponse" message="tns:IEvent_Event_partecipations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Event_volunteers">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvent/Event_volunteers" message="tns:IEvent_Event_volunteers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvent/Event_volunteersResponse" message="tns:IEvent_Event_volunteers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Edit_Event">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvent/Edit_Event" message="tns:IEvent_Edit_Event_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvent/Edit_EventResponse" message="tns:IEvent_Edit_Event_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_Event">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvent/Delete_Event" message="tns:IEvent_Delete_Event_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvent/Delete_EventResponse" message="tns:IEvent_Delete_Event_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Send_Email">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvent/Send_Email" message="tns:IEvent_Send_Email_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvent/Send_EmailResponse" message="tns:IEvent_Send_Email_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Generate_id_Luogo">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvent/Generate_id_Luogo" message="tns:IEvent_Generate_id_Luogo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvent/Generate_id_LuogoResponse" message="tns:IEvent_Generate_id_Luogo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Generate_id">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvent/Generate_id" message="tns:IEvent_Generate_id_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvent/Generate_idResponse" message="tns:IEvent_Generate_id_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEvent" type="tns:IEvent">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Show_events">
      <soap:operation soapAction="http://tempuri.org/IEvent/Show_events" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_event_by_id">
      <soap:operation soapAction="http://tempuri.org/IEvent/Get_event_by_id" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Event_partecipations">
      <soap:operation soapAction="http://tempuri.org/IEvent/Event_partecipations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Event_volunteers">
      <soap:operation soapAction="http://tempuri.org/IEvent/Event_volunteers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit_Event">
      <soap:operation soapAction="http://tempuri.org/IEvent/Edit_Event" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_Event">
      <soap:operation soapAction="http://tempuri.org/IEvent/Delete_Event" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send_Email">
      <soap:operation soapAction="http://tempuri.org/IEvent/Send_Email" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Generate_id_Luogo">
      <soap:operation soapAction="http://tempuri.org/IEvent/Generate_id_Luogo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Generate_id">
      <soap:operation soapAction="http://tempuri.org/IEvent/Generate_id" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Event">
    <wsdl:port name="BasicHttpBinding_IEvent" binding="tns:BasicHttpBinding_IEvent">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Admin_wcf/Event/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>