ErasEasyLife/Connected Services/Event/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Admin_wcf.Classi" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Admin_wcf.Classi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSvolgimento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Svolgimento" nillable="true" type="tns:Svolgimento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSvolgimento" nillable="true" type="tns:ArrayOfSvolgimento" />
  <xs:complexType name="Svolgimento">
    <xs:sequence>
      <xs:element minOccurs="0" name="data_f" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="data_i" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="evento" nillable="true" type="tns:Evento" />
      <xs:element minOccurs="0" name="luogo" nillable="true" type="tns:Luogo" />
      <xs:element minOccurs="0" name="ora_f" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ora_i" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Svolgimento" nillable="true" type="tns:Svolgimento" />
  <xs:complexType name="Evento">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdEv" type="xs:int" />
      <xs:element minOccurs="0" name="ass" nillable="true" type="tns:Associazione" />
      <xs:element minOccurs="0" name="costo" type="xs:int" />
      <xs:element minOccurs="0" name="descrizione" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="max_p" type="xs:int" />
      <xs:element minOccurs="0" name="max_v" type="xs:int" />
      <xs:element minOccurs="0" name="min_p" type="xs:int" />
      <xs:element minOccurs="0" name="min_v" type="xs:int" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipologia" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Evento" nillable="true" type="tns:Evento" />
  <xs:complexType name="Associazione">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdAss" type="xs:int" />
      <xs:element minOccurs="0" name="citta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="via" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Associazione" nillable="true" type="tns:Associazione" />
  <xs:complexType name="Luogo">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdLuogo" type="xs:int" />
      <xs:element minOccurs="0" name="citta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="via" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Luogo" nillable="true" type="tns:Luogo" />
  <xs:complexType name="ArrayOfStudente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Studente" nillable="true" type="tns:Studente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudente" nillable="true" type="tns:ArrayOfStudente" />
  <xs:complexType name="Studente">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdStud" type="xs:int" />
      <xs:element minOccurs="0" name="citta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cognome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="data_n" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="facebook" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="instagram" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nazionalita" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Studente" nillable="true" type="tns:Studente" />
  <xs:complexType name="ArrayOfVolontario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Volontario" nillable="true" type="tns:Volontario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVolontario" nillable="true" type="tns:ArrayOfVolontario" />
  <xs:complexType name="Volontario">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdVolont" type="xs:int" />
      <xs:element minOccurs="0" name="ass" nillable="true" type="tns:Associazione" />
      <xs:element minOccurs="0" name="cognome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="data_iscr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="data_n" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ruolo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Volontario" nillable="true" type="tns:Volontario" />
</xs:schema>