ErasEasyLife/Connected Services/Event/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Admin_wcf/Event/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Admin_wcf.Classi" />
  <xs:element name="Show_events">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cond" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Show_eventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Admin_wcf.Classi" minOccurs="0" name="Show_eventsResult" nillable="true" type="q1:ArrayOfSvolgimento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>