ErasEasyLife/Connected Services/Event/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Admin_wcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Admin_wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Admin_wcf/Event/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Admin_wcf.Classi" />
  <xs:complexType name="ArrayOfVolontario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Volontario" nillable="true" type="tns:Volontario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVolontario" nillable="true" type="tns:ArrayOfVolontario" />
  <xs:complexType name="Volontario">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdVolont" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Admin_wcf.Classi" minOccurs="0" name="ass" nillable="true" type="q1:Associazione" />
      <xs:element minOccurs="0" name="cognome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="data_iscr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="data_n" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ruolo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Volontario" nillable="true" type="tns:Volontario" />
</xs:schema>